.fun-fact-section-s2 {
  padding: 100px 0 70px;
  background: #fff;
}

.fun-fact-section-s2 .fun-fact-grids .grid {
  width: 22%;
  padding: 45px 3px;
}

.fun-fact-section-s2 .fun-fact-grids>.grid:first-child {
  background: #e3f3fc;
  top: 0;
  left: 0;
}

.fun-fact-section-s2 .fun-fact-grids>.grid:nth-child(2) {
  background: #fdf4e3;
  top: 0;
  left: 0;
}

.fun-fact-section-s2 .fun-fact-grids>.grid:nth-child(3) {
  background: #f1e7fd;
  top: 0;
  left: 0;
}

.fun-fact-section-s2 .fun-fact-grids>.grid:nth-child(4) {
  background: #f9e8e2;
  top: 0;
  left: 0;
}

.fun-fact-section-s2 .fun-fact-grids .grid p {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  padding-top: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.fun-fact-section-s2 .fun-fact-grids .grid h2 {
  font-size: 30px;
  font-weight: bold;
  color: #444;
  margin: 0;
  line-height: 10px;
  margin-top: 8px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  font-family: 'Josefin Sans', sans-serif;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  right: -2px;
}

.fun-fact-section-s2 .fun-fact-grids .grid h2:before {
  content: "";
  position: absolute;
  left: 39%;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #ed5217;
  border-radius: 20px;
}

.hx-counter-icon .fi {
  color: #999;
}

.hx-counter-icon .fi:before {
  margin: 0;
  font-size: 50px;
}

.inner-page .fun-fact-section-s2 {
  padding: 70px 0;
  padding-top: 0;
}