.features-style {
  padding-top: 80px;
}

.features-wrap {
  padding: 50px 40px 40px;
  text-align: center;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
}

.features-icon {
  color: #ed5217;
}

.features-icon .fi:before {
  font-size: 40px;
}

.features-text h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.features-text p {
  margin-bottom: 0;
  color: #777;
}

.features-icon,
.features-icon-2,
.features-icon-3 {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #ed5217;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 23px;
  position: relative;
  z-index: 11;
}

.features-icon-2 {
  background: #19d78b;
}

.features-icon-3 {
  background: #b471ff;
}

.features-icon:before,
.features-icon-2:before,
.features-icon-3:before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: 100px;
  height: 100px;
  border: 10px solid #fee4da;
  border-radius: 50%;
  z-index: -11;
}

.features-icon-2:before {
  border: 10px solid #d1ffec;
}

.features-icon-3:before {
  border: 10px solid #efe0ff;
}
