.about-section, .about-section-2 {
  padding-top: 60px;
}
.about-section .content-area,.about-section-2 .content-area,.about-section-3 .content-area  {
overflow: hidden;
position: relative;
}

.about-section .left-content,.about-section-2 .left-content,.about-section-3 .left-content {
width: calc(50% - 150px);
float: left;
}

@media (max-width: 1199px) {
.about-section .left-content,.about-section-2 .left-content,.about-section-3 .left-content {
  width: calc(50% - 70px);
  padding-top: 100px;
}
}

@media (max-width: 991px) {
.about-section .left-content,.about-section-2 .left-content,.about-section-3 .left-content {
  display: none;
}
}

.about-section .right-content,.about-section-2 .right-content,.about-section-3 .right-content   {
width: calc(50% + 70px);
float: right;
padding: 170px 0;
}

@media (max-width: 1199px) {
.about-section .right-content,.about-section-2 .right-content,.about-section-3 .right-content {
  padding: 100px 0;
}
}

@media (max-width: 991px) {
.about-section .right-content,.about-section-2 .right-content,.about-section-3 .right-content {
  width: 100%;
  float: none;
  padding: 0 0 100px;
}
}

@media (max-width: 767px) {
.about-section .right-content,.about-section-2 .right-content,.about-section-3 .right-content {
  padding: 0 0 80px;
}
}

.about-section .about-content,.about-section-2 .about-content,.about-section-3 .about-content {
width: 600px;
margin-right: auto;
}

@media (max-width: 1199px) {
.about-section .about-content,.about-section-2 .about-content,.about-section-3 .about-content  {
  width: 525px;
}
}

@media (max-width: 991px) {
.about-section .about-content,.about-section-2 .about-content,.about-section-3 .about-content {
  width: 690px;
  margin: auto;
}
}

@media (max-width: 767px) {
.about-section .about-content,.about-section-2 .about-content,.about-section-3 .about-content {
  width: 100%;
  padding: 0 15px;
}
}

.about-section .about-content .details p,.about-section-2 .about-content .details p,.about-section-3 .about-content .details p {
margin-bottom: 4em;
}

@media (max-width: 991px) {
.about-section .about-content .details p,.about-section-2 .about-content .details p,.about-section-3 .about-content .details p {
  margin-bottom: 3em;
}
}